* {
	margin: 5px 0;
	padding: 0;
	box-sizing: border-box;
}
.card {
	background-color: azure;
	margin: 10px;
	padding: 10px 0;
	border: 1px solid;
	border-radius: 10px;
	& h2 {
		display: block;
		background: bisque;
	}
	& * {
		margin: 10px;
	}
}
.minestone-container {
	display: flex;
	gap: 10px;
	& > .card {
		flex: 1;
	}
}
.nav-container {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: rgba(255, 102, 0, 0.5);
}
