* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, Sans-Serif;
}

.nav-container {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	& > div {
		height: 40px;
	}
}

.navbar {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.nav-menu-group {
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.menu {
	list-style: none;
}
.nav-icon {
	display: flex;
	align-items: center;
	gap: 5px;
}
.nav-burger {
	display: none;
}

.nav-undernav {
	background-color: rgb(58, 58, 58);
	color: aliceblue;
	padding: 0 20px;
	display: flex;
	align-items: center;
	padding-left: 10%;
}

.carousel {
	height: 300px;
	background: #000;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #eeeeee;
	gap: 50px;
	width: 100vw;
}
.content {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.content-title {
	font-size: 32px;
	text-align: center;
	margin: 20px;
}

.content-card-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	justify-items: center;
}

.content-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 290px;
	height: 310px;
	background: #ffffff;
	box-shadow: 0 0 10px 0.5px #a0a0a0;
	transition: 0.5s;
	border-radius: 5px;
	overflow: hidden;
}
.content-card:hover {
	box-shadow: 0 0 20px 1px #a0a0a0;
	transition: 0.5s;
}

.content-card-image {
	width: 100%;
	height: 160px;
}

.content-card-title {
	font-size: 24px;
	text-align: center;
}

.content-card-shop {
	margin-bottom: 20px;
}
.shop-arrow {
	position: relative;
	transition: 0.5s;
	right: 0;
}
.content-card-shop:hover > .shop-arrow {
	right: -5px;
	transition: 0.5s;
}

footer {
	background: #eeeeee;
	height: 40px;
}

@media (max-width: 1080px) {
	.content-card-group {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 748px) {
	.nav-menu-group,
	.nav-icon {
		display: none;
	}
	.nav-burger {
		display: block;
	}
	.content-card-group {
		grid-template-columns: repeat(1, 1fr);
	}
}
